@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://winning-moves.com/images/chutes%20and%20ladders%20rules.pdf" target="_blank"> How to play </a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

